body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/images/woodedbackground.png");
}
.container{
    background-image: url("/assets/images/woodedbackground.png");
}

video {
  position: fixed;
  right: 1;
  bottom: 1;


}

.text {
    z-index:2;
    position: relative;
    opacity: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: black;

}

.navbar-brand {
    z-index:2;

}
.nav {
   
    z-index: 2;
    background:grey;
    opacity:80%;
    color:navy;
    text-size-adjust: 16;
}
.image{
    z-index: 2;
    
}
.button{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
    background-color: black; /* Green */
    color: white;
  }
